<select (change)="handleSelect($event)">
    <option value="">Select an operation</option>
    <option>find all</option>
    <option>find by id</option>
    <option>create</option>
    <option>update</option>
    <option>delete</option>
</select>

<div [ngSwitch]="selectedOption">
    <div *ngSwitchCase="'find all'">
        <div *ngIf="personnes.length===0">{{handleFindAll()}}</div>
        <ul>
            <li *ngFor="let pers of personnes">
                {{pers.nom}}
                {{pers.prenom}}
                {{pers.id}}
                {{pers.type}}
                <!-- Bloqué à la récupération de l'objet filiere :' -->
                <!-- <span *ngIf="pers.filiere!==null">{{pers.filiere.id}}</span> -->
            </li>
        </ul>
    </div>

    <div *ngSwitchCase="'find by id'">
        <input type="text" [(ngModel)]="id" required/>
        <button (click)="handleFindById()">Submit</button>
        <div *ngIf="personneById!==null">
            Ca devrait etre null ici : {{personneById.nom}}
            {{personneById.prenom}}
            {{personneById.id}}
            {{personneById.type}}
            <!-- <a [routerLink]="['/page1']">{{personneById.filiereId}}</a> -->
            <a>fillId : {{personneById.filiere.id}}</a>
        </div>
    </div>

    <div *ngSwitchCase="'create'">
        <form [formGroup]="personneForm">
            <!-- <label>
                Id
                <input type="text" formControlName="id"/>
            </label> -->
            <label>
                Nom
                <input type="text" formControlName="nom" required/>
            </label>
            <label>
                Prénom
                <input type="text" formControlName="prenom"/>
            </label>
            <label>
                <!-- Mettre un select option -->
                Type
                <input type="text" formControlName="type" required/>
            </label>
            <label>
                Filiere
                <input type="text" formControlName="filiere"/>
            </label>
            <button (click)="handleCreate()">Create</button>
        </form>
        
    </div>

    <div *ngSwitchCase="'update'">update switch</div>
    <div *ngSwitchCase="'delete'">delete switch</div>
</div>

